{{#if message}}
    {{message}}
{{else}}
    <p>Are we too loud?</p>
    <form action="/complain" method="post">
        <input type="hidden" name="hash" value="{{hashid}}"/>
        <input type="submit" value="Yes, shut up!"/>
    </form>
    {{content}}
{{/if}}