

<h1>Let's have a party</h1>
<form action="/code" method="post">
    <p>Give your party a name!</p>
    <input type="text" name="name">
    <p>When does it start?</p>
    <input type="datetime-local" name="start">
    <p>Street name </p>
    <input type="text" name="street">
    <p>City</p>
    <input type="text" name="city">
    <p></p>
    <input type="submit" name="submit">
</form>